*{
    margin:0;
    font-family: arial,sans-serif;
}
body{
    overflow-y:scroll;
}

/* Header section CSS part Starts Here */
.header{
    background-color: #f1f1f1;
    height: 59px;
    border-bottom: 1px solid #666;
    border-color: #e5e5e5;
}
.img{
    padding-top: 2px;
    padding-left: 5px;
    float: left;
}
.search{
    float: left;
    padding-top: 15px;
    padding-left: 10px;
}
.input{
    height: 25px;
    width: 560px;
}
.searchicon{
    float: left;
    padding-top: 15px;
}
.mic{
    float: left;
    padding-top: 15px;
}
.user{
    padding-top:10px;
}
.user ul li{
    display:inline-block;
    float:right;
    padding:10px;
}

/* end of the header CSS */


/* navigation or Menu style starts from here */
.nav{
    height:54px;
    border-bottom: 1px solid #666;
    border-color: #e5e5e5;
    
}
.custom{
    padding-top:15px;
}
.all{
    color:#4285f4;
    font-weight:bold;
    margin:2px 8px 0;
    padding:0 8px;
    border-bottom:3px solid #4285f4;
    float:left;
    height:34px;
    margin-left:128px;
}

.video, .image, .news, .more,.tool{
    margin:2px 8px 0;
    padding:0 8px;
    color:#777;
    float:left;
}
.accessories{
    float:right;
}
/* End of the navigation or Menu style here */

/* simple result div style starts here */
.result{
    height:43px;
    margin-left:128px;
    color:#808080;
    font-size:13px;
    padding-top:12px;
}

/* End of the simple result div style here */

/* Content part starts here */
.content{
    margin-left:128px;
}

.content h3 a{
    text-decoration:none;
    color:#1a0dab;                    /*  HTML Tutorial - W3Schools (Header style)  */
    font-weight: normal;
}

.rm{
    font-size:14px;
    color:#006621;                    /* small link just under the header */
    font-style:normal;
}
.content_size{
    width:600px;                        /* declaring main content div size */
}
.con_pera_one{
    font-size:small;                    
    color:#777;
}

.content_two{
    margin-left:25px;
}
.head_color{
    color:#1a0dab;
    font-weight: normal;
}
.full_size{
    width:294px;
}
.pera_size{
    font-size:small;
    color:#777;
    width:220px;
}

table tbody tr td{
    padding:5px;                        /* defining some padding for table to looking better */
}

.tbl_link{
    color:#1a0dab;
    text-decoration:none;
    font-size:14px;
}

.break_line{
    margin-top:15px;
    background-color:rgba(0,0,0,0.07);
    color:rgba(0,0,0,0.07);
    height:1px;
    margin-bottom:15px;
    
}
.bottom_search_div{
    padding-bottom:10px;
}
.bottom_search{
    text-align: left;
    font-size: 18px;
    color:#222;
    font-weight: normal;
}

.search_links{
    font-size: medium;
    
}

.first{
    margin-top: 10px;
}
.second{
    margin-top: 10px;
}

.nice{
    text-decoration: none;
    color: #1a0dab;
    
}

.extra{
    height: 55px;
    width:632px;
    text-align: center;
    padding-top: 20px;
}
.extra h1{
    font-weight: Normal;
    text-align: center;
}



/* End of the Content part here */

/* footer css starts here */
#footer{
    margin-top: 20px;
    height: 84px;
    background-color: #f1f1f1;
    border:1px solid black;
}

.address{
    font-size:10px;        
}